.dishes {
  max-width: 600px;
  padding: 14px;
}

.dish {
  display: flex;
  align-items: center;
}
.dishInfoContainer {
  flex-grow: 1;
}
.priceContainer {
  width: 70px;
}

.dishName {
  font-size: 24px;
  font-family: "Maiden Orange", cursive;
}

.allergens {
  font-size: 12px;
}

.editButtons {
  text-align: right;
}

.editButton {
  margin: 5px;
}
