.noResturantContainer {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  border: 1px solid #999;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.createResturantContainer {
}

.createRestaurantInput {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 50px;
  border: none;
  text-indent: 6px;
  background: #f0ebd8;
  color: #3e5c76;
}
.createRestaurantButton.active {
  opacity: 1;
}

.createRestaurantButton {
  opacity: 0;
  margin: 6px auto;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 2px;
  background: #1d2d44;
  color: #f0ebd8;
  transition: all 0.25s ease;
}
.createRestaurantButton:hover {
  background: #f0ebd8;
  color: #1d2d44;
}
